[KMahjonggTileset]
Name=Bamboo
Name[bs]=Bambus
Name[ca]=Bamboo
Name[ca@valencia]=Bamboo
Name[cs]=Bambus
Name[da]=Bambus
Name[de]=Bambus
Name[el]=Bamboo
Name[en_GB]=Bamboo
Name[es]=Bambú
Name[et]=Bambus
Name[fi]=Bambu
Name[fr]=Bambou
Name[ga]=Bamboo
Name[gl]=Bambú
Name[hr]=Bamboo
Name[hu]=Bambusz
Name[id]=Bambu
Name[it]=Bambù
Name[kk]=Бамбук
Name[km]=ឫស្សី
Name[ko]=대나무
Name[lv]=Bamboo
Name[mr]=बांबू
Name[nb]=Bambus
Name[nds]=Bambus
Name[nl]=Bamboe
Name[nn]=Bambus
Name[pl]=Bambus
Name[pt]=Bambu
Name[pt_BR]=Bambu
Name[ru]=Бамбук
Name[sk]=Bambus
Name[sl]=Bambus
Name[sr]=Бамбус
Name[sr@ijekavian]=Бамбус
Name[sr@ijekavianlatin]=Bambus
Name[sr@latin]=Bambus
Name[sv]=Bambu
Name[tr]=Bamboo
Name[ug]=بامبۇ
Name[uk]=Бамбук
Name[x-test]=xxBambooxx
Name[zh_CN]=Bovo
Name[zh_TW]=竹子
Description=Japanese tileset with brightly-colored kanji on a soft woodgrain
Description[bs]=Japanske pločice svjetlih boja kanji na godovima drveta
Description[ca]=Conjunt de fitxes amb caràcters kanji de colors brillants sobre una fusta tova
Description[ca@valencia]=Conjunt de fitxes amb caràcters kanji de colors brillants sobre una fusta tova
Description[da]=Japanske brikker med klartfarvede kanji på en blød træåre
Description[de]=Japanische Spielsteine mit hellfarbigen „Kanji“-Schriftzeichen auf einer weichen Holzmaserung.
Description[el]=Ιαπωνικό σύνολο πλακιδίων με χρωματιστής λαμπρότητας kanji σε υφή απαλής ξύλινης ίνας
Description[en_GB]=Japanese tileset with brightly-coloured kanji on a soft woodgrain
Description[es]=Fichas japonesas con kanjis de brillantes colores sobre madera clara
Description[et]=Jaapani klotsid heledate kanjidega pehmetoonilisel puidul
Description[fi]=Japanilainen tiilisetti, jonka puisissa tiilissä on kirkkaanvärisiä kanji-merkkejä
Description[fr]=Tuiles dans le style japonais avec des kanjis vivement colorés sur un grain de bois doux
Description[gl]=Xogo de pezas nipón con rechamantes caracteres kanji en vetas da madeira lisas
Description[hu]=Japán elemkészlet ragyogó színű írásjelekkel, puha fára
Description[id]=Tileset Jepang dengan kanji berwarna cerah pada sebuah serbuk kayu yang lembut
Description[it]=Tessere giapponesi con caratteri kanji a colori brillanti su legno chiaro venato
Description[kk]=Жүмсақ ағаштардағы түрлі-түсті иероглифтер Жапон жиынтығы
Description[km]=បណ្ដុំ​ក្រឡា​ក្បឿង​ជប៉ុន​មាន​អក្សរ kanji ដែល​មាន​ពណ៌​ភ្លឺ​នៅ​លើ​សាច់ឈើ​ទន់ 
Description[ko]=우드그레인 위에 밝은 색 한자가 입혀진 일본식 타일 셋
Description[lv]=Japānas kauliņu kopa ar spilgti krāsotiem kanji uz koksnes
Description[nb]=Japanske brikker med lys kanji på mykt trevirke
Description[nds]=Japaansch Steensett mit hellklöört Kanji op week Holtmasern
Description[nl]=Japanse stenenset met helder gekleurde kanji of een zachte houtstructuur
Description[nn]=Japanske brikker med lys kanji på mjukt trevirke.
Description[pl]=Japoński zestaw kafelków z jasnymi znakami kanji na łagodnie ziarnistym tle
Description[pt]=Conjunto de peças japonesas com um Kanji colorido sobre um tom suave de serradura
Description[pt_BR]=Conjunto de peças japonesas com um Kanji colorido sobre um tom suave de serradura
Description[ru]=Японский набор плиток с коричневыми иероглифами на светлом дереве
Description[sk]=Japonská sada kameňov so žiarivo farebnými znakmi kanji na jemnom pozadí
Description[sl]=Japonski nabor ploščic z veliko barvami na mehki lesni podlagi
Description[sr]=Јапанске плочице са светло обојеним канђијем на меком дрвету
Description[sr@ijekavian]=Јапанске плочице са свијетло обојеним канђијем на меком дрвету
Description[sr@ijekavianlatin]=Japanske pločice sa svijetlo obojenim kanđijem na mekom drvetu
Description[sr@latin]=Japanske pločice sa svetlo obojenim kanđijem na mekom drvetu
Description[sv]=Japanska brickor med kanji i klara färger på svagt ådrat trä
Description[tr]=Yumuşak tahta zemin üzerine parıldayan renklerde kanji'den oluşan Japon döşeme seti
Description[uk]=Японський набір плиток з кандзі світлого кольору на м’якій деревині
Description[x-test]=xxJapanese tileset with brightly-colored kanji on a soft woodgrainxx
Description[zh_CN]=日式麻将牌，使用柔和轻淡色彩的日文汉字
Description[zh_TW]=日式的外觀，淡顏色的漢字與竹林
VersionFormat=1
Author=Matthew Woehlke
AuthorEmail=mw_triad@users.sourceforge.net
FileName=bamboo.svg
LevelOffsetX=10
LevelOffsetY=10
TileFaceHeight=100
TileFaceWidth=70
TileHeight=125
TileWidth=95
