[KMahjonggTileset]
Name=Classic
Name[be]=Класічны
Name[bs]=Klasično
Name[ca]=Clàssic
Name[ca@valencia]=Clàssic
Name[cs]=Klasický
Name[da]=Klassisk
Name[de]=Klassisch
Name[el]=Κλασσικό
Name[en_GB]=Classic
Name[eo]=Klasika
Name[es]=Clásico
Name[et]=Klassikaline
Name[eu]=Klasikoa
Name[fa]=کلاسیک
Name[fi]=Klassinen
Name[fr]=Classique
Name[ga]=Clasaiceach
Name[gl]=Clásico
Name[hne]=क्लासिक
Name[hu]=Klasszikus
Name[id]=Klasik
Name[it]=Classico
Name[ja]=クラシック
Name[kk]=Классикалық
Name[km]=ក្លាស៊ិក
Name[ko]=고전
Name[lt]=Klasikinė
Name[lv]=Klasiska
Name[mai]=क्लासिक
Name[mr]=क्लासिक
Name[nb]=Klassisk
Name[nds]=Klass'sch
Name[ne]=उत्कृष्ट
Name[nl]=Klassiek
Name[nn]=Klassisk
Name[oc]=Classic
Name[pa]=ਟਕਸਾਲੀ
Name[pl]=Klasyczne
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[ro]=Clasic
Name[ru]=Классика
Name[sk]=Klasická
Name[sl]=Klasična
Name[sq]=Klasike
Name[sr]=Класично
Name[sr@ijekavian]=Класично
Name[sr@ijekavianlatin]=Klasično
Name[sr@latin]=Klasično
Name[sv]=Klassiskt
Name[tr]=Klasik
Name[ug]=كلاسسىك
Name[uk]=Класична
Name[wa]=Classike
Name[x-test]=xxClassicxx
Name[zh_CN]=经典
Name[zh_TW]=古典
Description=Chinese tileset, inspired by the classic version shipped with KDE 3
Description[bs]=Kineske pločice inspirisane klasičnom verzijom koja je bila na KDE 3
Description[ca]=Conjunt de fitxes xineses, inspirat en la versió clàssica incorporada al KDE 3
Description[ca@valencia]=Conjunt de fitxes xineses, inspirat en la versió clàssica incorporada al KDE 3
Description[da]=Kinesisk sæt af brikker inspireret af den klassiske version leveret med KDE 3
Description[de]=Chinesischer Spielsteinsatz, weiterentwickelt aus der klassischen Version in KDE3.
Description[el]=Κινέζικα πιόνια, επηρεασμένα από την κλασική έκδοση του KDE 3
Description[en_GB]=Chinese tileset, inspired by the classic version shipped with KDE 3
Description[es]=Fichas chinas, inspiradas en la versión clásica incluida con KDE 3
Description[et]=Hiina klotsid, mille aluseks on KDE 3 klassikaline versioon
Description[eu]=Lauza multzo txinatarra, KDE 3 bertsioak kaleratutako bertsio klasikoan oinarrituta
Description[fa]=مجموعه کاشیهای چینی، الهام گرفته از نسخه کلاسیک عرضه شده با KDE 3
Description[fi]=Kiinalainen tiilisetti, joka on saanut vaikutteita KDE 3:n mukana tulleesta klassisesta versiosta
Description[fr]=Jeu de tuiles chinois, inspiré par la version classique fournie avec KDE 3
Description[ga]=Tíleanna Síneacha, faoi anáil an leagain chlasaicigh a tháinig le KDE 3
Description[gl]=Pezas chinesas, inspiradas na versión clásica distribuída coa versión 3 de KDE.
Description[hne]=चीनी टाइलसेट, केडीई ३ के साथ जारी क्लासिक संस्करन से प्रेरित
Description[hu]=Kínai elemkészlet, a KDE 3-ban található klasszikus verzió alapján készült
Description[id]=Tileset China, terinspirasi oleh versi klasik yang diluncurkan bersama KDE 3
Description[it]=Tessere cinesi, ispirate alla versione classica distribuita con KDE 3
Description[ja]=KDE 3 のクラシックバージョンから発想を得た中国のマージャン牌
Description[kk]=KDE3-пен келген класссикалық нұсқасы шабыт берген Қытай жиынтығы
Description[km]=បណ្តុំ​ក្រឡា​ក្បឿង​​ចិន បង្កើត​ដោយ​កំណែ​ក្លាស៊ិក​ដែល​ភ្ជាប់​ជាមួយ KDE 3
Description[ko]=KDE 3에 포함된 고전 버전의 영향을 받은 중국식 타일 셋
Description[lv]=Ķīniešu kauliņu kopa, kas radusies, iedvesmojoties no KDE 3 versijas
Description[nb]=Kinesisk og inspirert av den gamle versjonen som fulgte med KDE 3
Description[nds]=Chineesch Steensett, na de klass'sche Verschoon, de bi KDE3 bi weer
Description[ne]=केडीई ३ को सिप गरिएको पुरानो संस्करणद्वारा अभिप्रेरित, चिनियाँ टायलसेट
Description[nl]=Chineze stenenset, geïnspireerd door de klassieke versie van KDE 3
Description[nn]=Kinesisk og inspirert av den gamle versjonen som følgde med KDE 3.
Description[pl]=Chiński zestaw kamieni, zainspirowany wersją klasyczną z KDE 3
Description[pt]=O conjunto de peças chinesas, inspirado pela versão clássica que vem no KDE 3
Description[pt_BR]=Conjunto de peças chinês, inspirado na versão clássica do KDE 3
Description[ru]=Китайский набор плиток, навеянный классической темой из KDE3
Description[sk]=Čínska sada kameňov inšpirovaná klasickou verziou z KDE 3
Description[sl]=Kitajski nabor ploščic, navdihnjen s strani klasične različice, ki je v KDE 3
Description[sr]=Кинеске плочице, надахнуте класичном верзијом из КДЕ‑а 3
Description[sr@ijekavian]=Кинеске плочице, надахнуте класичном верзијом из КДЕ‑а 3
Description[sr@ijekavianlatin]=Kineske pločice, nadahnute klasičnom verzijom iz KDE‑a 3
Description[sr@latin]=Kineske pločice, nadahnute klasičnom verzijom iz KDE‑a 3
Description[sv]=Kinesiska brickor, inspirerade av den klassiska versionen levererad med KDE 3
Description[tr]=KDE 3 ile birlikte dağıtılan versiyondan esinlenilmiş Çin döşeme seti
Description[uk]=Китайський набір, схожий на класичну версію, що постачалася з KDE 3
Description[wa]=Djeu d' pîces chinwesses inspiré pal modêye classike di KDE 3
Description[x-test]=xxChinese tileset, inspired by the classic version shipped with KDE 3xx
Description[zh_CN]=中文字母表，灵感源于来自 KDE 3 的经典版本
Description[zh_TW]=中國式麻將牌，從傳統的 KDE3 版本而來
VersionFormat=1
Author=Robert Buchholz
AuthorEmail=robertbuchholz@gmx.de
FileName=classic.svg
LevelOffsetX=10
LevelOffsetY=10
TileFaceHeight=95
TileFaceWidth=69
TileHeight=114
TileWidth=90
