[KMahjonggTileset]
Name=Default
Name[be]=Прадвызначаны
Name[br]=Dre ziouer
Name[bs]=Podrazumijevani
Name[ca]=Predeterminat
Name[ca@valencia]=Predeterminat
Name[cs]=Výchozí
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[en_GB]=Default
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hne]=डिफाल्ट
Name[hu]=Alapértelmezés
Name[id]=Baku
Name[it]=Predefinito
Name[ja]=標準
Name[kk]=Әдетті
Name[km]=លំនាំដើម
Name[ko]=기본
Name[lt]=Numatyta
Name[lv]=Noklusējuma
Name[mai]=मूलभूत
Name[mr]=मूलभूत
Name[nb]=Standard
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[pl]=Domyślne
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[si]=පෙරනිමිය
Name[sk]=Štandardná
Name[sl]=Privzeto
Name[sq]=I Parazgjedhur
Name[sr]=Подразумевано
Name[sr@ijekavian]=Подразумијевано
Name[sr@ijekavianlatin]=Podrazumijevano
Name[sr@latin]=Podrazumevano
Name[sv]=Förval
Name[te]=అప్రమెయం
Name[tr]=Öntanımlı
Name[ug]=كۆڭۈلدىكى
Name[uk]=Типова
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Art inspired by real Japanese Mahjongg tiles
Description[bs]=Umjetnost inspirisana stvarnim Japanskim Mahjongg pločicama
Description[ca]=Art inspirat per les fitxes reals del Mahjongg japonès
Description[ca@valencia]=Art inspirat per les fitxes reals del Mahjongg japonés
Description[da]=Kunst inspireret af ægte japanske Mahjongg-fliser
Description[de]=Die Gestaltung wurde inspiriert von echten Japanischen Mahjongg-Spielsteinen.
Description[el]=Τα γραφικά έχουν επηρεαστεί από το αρχικά ιαπωνικά Mahjongg πιόνια
Description[en_GB]=Art inspired by real Japanese Mahjongg tiles
Description[es]=Arte inspirado en las fichas del auténtico Mahjongg japonés
Description[et]=Tõelistest jaapani Mahjonggi klotsidest ajendatud kunstiteema
Description[eu]=Jatorrizko Mahjongg benetako lauza japoniarretan oinarrituta
Description[fi]=Aitojen japanilaisten mahjongg-tiilien inspiroimaa grafiikkaa
Description[fr]=Graphisme inspiré des véritables tuiles du Mahjongg japonais
Description[ga]=Ealaín faoi anáil tíleanna Seapánacha Mahjongg
Description[gl]=Imaxes inspiradas en auténticas pezas xaponesas de Mah Jongg.
Description[hu]=Eredeti japán Mahjongg-mintát követő téma
Description[id]=Seni terinspirasi oleh tile asli Mahjongg Jepang
Description[it]=Decorazione ispirata alle tessere del vero Mahjongg giapponese
Description[ja]=本物の日本のマージャン牌を元にしたアートワーク
Description[kk]=Шын Жапон Маджонг тастары шабыттаған көркемділік
Description[km]=សិល្បៈ បង្កើត​ដោយ​ក្រឡា Mahjongg ជប៉ុន​ពិត
Description[ko]=실제 일본식 마작 타일을 기반으로 함
Description[lt]=Grafika įkvėpta tikrų japoniškų Mahjongg kaladėlių
Description[lv]=Māksla, kas radusi iedvesmu no īstiem japāņu Mahjongg kauliņiem
Description[nb]=Kunst inspirert av ekte japanske Mahjongg-brikker
Description[nds]=Na rejelle japaansche Mahjongg-Steen
Description[nl]=Kunst, geïnspireerd door echte Japanse Mahjongg-stenen
Description[nn]=Inspirert av ekte japanske Mahjongg-brikker.
Description[pl]=Sztuka inspirowana prawdziwymi japońskimi kamieniami Mahjongga
Description[pt]=Arte inspirada nas peças reais do Mahjongg japonês
Description[pt_BR]=Arte inspirada em peças reais de Mahjongg do Japão
Description[ru]=Оформление, навеянное настоящими плитками японского маджонга
Description[sk]=Grafika inšpirovaná reálnymi japonskými Mahjongg kameňmi
Description[sl]=Umetniško navdihnjena s strani pravih japonskih ploščic za Mahjongg
Description[sr]=Рад надахнут правим јапанским маџонг плочицама
Description[sr@ijekavian]=Рад надахнут правим јапанским маџонг плочицама
Description[sr@ijekavianlatin]=Rad nadahnut pravim japanskim madžong pločicama
Description[sr@latin]=Rad nadahnut pravim japanskim madžong pločicama
Description[sv]=Grafik inspirerad av riktiga japanska Mahjongg-brickor
Description[tr]=Gerçek Japon Mahjongg döşemelerinden esinlenilmiş sanat
Description[uk]=Малюнки, на які надихнули справжні японські плитки маджонґ
Description[wa]=Årt inspiré des vraiyès pîces di Mahjongg djaponesses
Description[x-test]=xxArt inspired by real Japanese Mahjongg tilesxx
Description[zh_CN]=艺术灵感源于真实的日本麻将牌
Description[zh_TW]=由實際的日本麻將牌得來的靈感
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=default.svg
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
