[KMahjonggTileset]
Name=Imperial Jade
Name[bs]=Carski žad
Name[ca]=Jade imperial
Name[ca@valencia]=Jade imperial
Name[da]=Kejserlig jade-farvet
Name[de]=Kaiserliche Jade
Name[el]=Αυτοκρατορικός νεφρίτης
Name[en_GB]=Imperial Jade
Name[eo]=Imperia jado
Name[es]=Jade imperial
Name[et]=Keiserlik sära
Name[eu]=Jade inperiala
Name[fi]=Keisarillinen jade
Name[fr]=Jade impérial
Name[ga]=Séad Impiriúil
Name[gl]=Xade imperial
Name[hne]=इंपीरियल जेड
Name[hr]=Imperial Jade
Name[hu]=Birodalmi jáde
Name[id]=Imperial Jade
Name[it]=Giada imperiale
Name[ja]=ヒスイ
Name[kk]=Империал нефрит
Name[km]=ថ្ម​អធិរាជ
Name[ko]=황실 옥
Name[lt]=Imperiškasis nefritas
Name[lv]=Imperatora nefrīts
Name[mr]=इम्पेरियल जेड
Name[nb]=Keiserlig jade
Name[nds]=Imperiaal Jaad
Name[nl]=Empirial Jade
Name[nn]=Kinesisk jade
Name[pl]=Cesarski jadeit
Name[pt]=Jade Imperial
Name[pt_BR]=Jade Imperial
Name[ru]=Императорский нефрит
Name[sk]=Imperial Jade
Name[sl]=Imperijski žad
Name[sr]=Царски жад
Name[sr@ijekavian]=Царски жад
Name[sr@ijekavianlatin]=Carski žad
Name[sr@latin]=Carski žad
Name[sv]=Kejserlig jade
Name[tr]=İmparatorluk Şıllığı
Name[uk]=Імперський нефрит
Name[wa]=Jade imperiå
Name[x-test]=xxImperial Jadexx
Name[zh_CN]=皇家翡翠
Name[zh_TW]=Imperial Jade
VersionFormat=1
Author=it-s
AuthorEmail=irs_me@hotmail.com
FileName=jade.svg
LevelOffset=12
TileFaceHeight=86
TileFaceWidth=71
TileHeight=98
TileWidth=93
