[KMahjonggTileset]
Name=Traditional
Name[bs]=Tradicionalna
Name[ca]=Tradicional
Name[ca@valencia]=Tradicional
Name[cs]=Tradiční
Name[da]=Traditionelt
Name[de]=Traditionell
Name[el]=Παραδοσιακό
Name[en_GB]=Traditional
Name[eo]=Tradicia
Name[es]=Tradicional
Name[et]=Traditsiooniline
Name[eu]=Tradizionala
Name[fa]=سنتی
Name[fi]=Perinteinen
Name[fr]=Traditionnel
Name[ga]=Traidisiúnta
Name[gl]=Tradicionais
Name[hne]=पारम्परिक
Name[hr]=Traditional
Name[hu]=Hagyományos
Name[id]=Tradisional
Name[is]=Hefðbundið
Name[it]=Tradizionale
Name[ja]=伝統的
Name[kk]=Дәстүрлі
Name[km]=បុរាណ
Name[ko]=전통적
Name[lt]=Tradicinė
Name[lv]=Tradicionāls
Name[mr]=पारंपारिक
Name[nb]=Tradisjonell
Name[nds]=Överkamen
Name[nl]=Traditioneel
Name[nn]=Tradisjonell
Name[oc]=Tradicional
Name[pl]=Tradycyjne
Name[pt]=Tradicional
Name[pt_BR]=Tradicional
Name[ro]=Tradițional
Name[ru]=Традиционный
Name[sk]=Tradičné
Name[sl]=Tradicionalno
Name[sr]=Традиционални
Name[sr@ijekavian]=Традиционални
Name[sr@ijekavianlatin]=Tradicionalni
Name[sr@latin]=Tradicionalni
Name[sv]=Traditionella
Name[te]=సాంప్రదాయక
Name[tr]=Geleneksel
Name[ug]=مۇرەككەپ خەنزۇچە
Name[uk]=Традиційний
Name[wa]=Wårdiveus
Name[x-test]=xxTraditionalxx
Name[zh_CN]=传统
Name[zh_TW]=傳統
Description=Americanized tiles inspired by Japanese Mahjongg tiles
Description[bs]=Amerikanizirane pločice inspirisane Japanskim Mahjongg pločicama
Description[ca]=Fitxes americanitzades inspirades per les fitxes japoneses de Mahjongg
Description[ca@valencia]=Fitxes americanitzades inspirades per les fitxes japoneses de Mahjongg
Description[da]=Amerikaniserede brikker inspireret af japanske Mahjongg-fliser
Description[de]=Amerikanisierte Spielsteine, inspiriert von Japanischen Mahjongg-Spielsteinen.
Description[el]=Αμερικανοποιημένα κομμάτια εμπνευσμένα από τα κομμάτια του ιαπωνικού Mahjongg
Description[en_GB]=Americanised tiles inspired by Japanese Mahjongg tiles
Description[es]=Fichas americanizadas inspiradas en las fichas del Mahjongg japonés
Description[et]=Amerikaniseeritud klotsid, mille aluseks on jaapani Mahjonggi klotsid
Description[eu]=Amerikanizatutako lauzak (Mahjongg lauza japoniarretan oinarrituta)
Description[fi]=Amerikkalaistetut tiilet, jotka saivat inspiraatiota japanilaisista mahjongg-tiilistä
Description[fr]=Tuiles américanisées inspirées par les tuiles du Mahjongg japonais
Description[ga]=Tíleanna Meiriceánaithe faoi anáil tíleanna Seapánacha Mahjongg
Description[gl]=Pezas americanizadas inspiradas inpiradas en pezas xaponesas de Mah Jongg.
Description[hu]=Japán Mahjongg-téma amerikanizált változata
Description[id]=Tile Amerikanisasi terinspirasi oleh tile Mahjongg Jepang
Description[it]=Tessere americanizzate ispirate alle tessere del Mahjongg giapponese
Description[ja]=日本のマージャン牌から発想を得たアメリカ風のマージャン牌
Description[kk]=Жапон Маджонг тастары шабыттаған Американдық тастар
Description[km]=ក្រឡា​​ក្បឿង​មាន​លំនាំដូច​អាមេរិក បាន​បង្កើត​ដោយ​ក្រឡា Mahjongg ជប៉ុន
Description[ko]=일본식 마작 타일을 기반으로 한 미국화된 타일
Description[lv]=Amerikanizēta japāņu Mahjongg kauliņu versija
Description[nb]=Anerikaniserte brikker inspirert av japanske Mahjongg-brikker
Description[nds]=Amerikaansche Steen, na japaansche Mahjongg-Steen
Description[nl]=Amerikaanse stenen geïnspireerd door Japanse Mahjongg-stenen
Description[nn]=Vestlege brikker inspirerte av japanske Mahjongg-brikker.
Description[pl]=Zamerykanizowane kamienie zainspirowane japońskimi kamieniami Mahjongg
Description[pt]=Peças americanas inspiradas nas peças reais do Mahjongg japonês
Description[pt_BR]=Peças americanas inspiradas nas peças japonesas originais de Mahjongg
Description[ru]=Американизированные плитки из японского маджонга
Description[sk]=Amerikanizovaná grafika inšpirovaná japonskými Mahjongg kameňmi
Description[sl]=Amerikanizirane ploščice navdihnjene s strani japonskih ploščic za Mahjongg
Description[sr]=Американизоване маџонг плочице надахнуте јапанским
Description[sr@ijekavian]=Американизоване маџонг плочице надахнуте јапанским
Description[sr@ijekavianlatin]=Amerikanizovane madžong pločice nadahnute japanskim
Description[sr@latin]=Amerikanizovane madžong pločice nadahnute japanskim
Description[sv]=Amerikaniserade brickor inspirerad av japanska Mahjongg-brickor
Description[tr]=Japon Mahjongg döşemelerinden esinlenilmiş Amerikanvari döşemeler
Description[uk]=Американські картки, схожі на японські плитки для маджонґ
Description[wa]=Pîces stîle amerikin, inspirêyes des pîces di Mahjongg djaponesses
Description[x-test]=xxAmericanized tiles inspired by Japanese Mahjongg tilesxx
Description[zh_CN]=美国化的牌面设计灵感源于日本麻将牌
Description[zh_TW]=由實際的日本麻將牌得來的靈感
VersionFormat=1
Author=James L. Hammons
AuthorEmail=jlhamm@acm.org
FileName=traditional.svg
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
