[KMahjonggTileset]
Name=Alphabet
Name[bs]=Abeceda
Name[ca]=Alfabet
Name[ca@valencia]=Alfabet
Name[cs]=Abeceda
Name[da]=Alfabetet
Name[de]=Alphabet
Name[el]=Αλφάβητο
Name[en_GB]=Alphabet
Name[eo]=Alfabeto
Name[es]=Alfabeto
Name[et]=Tähestik
Name[eu]=Alfabetoa
Name[fa]=الفبا
Name[fi]=Aakkoset
Name[fr]=Alphabet
Name[ga]=Aibítir
Name[gl]=Alfabeto
Name[hne]=वर्नमाला
Name[hr]=Alphabet
Name[hu]=Ábécé
Name[id]=Alfabet
Name[it]=Alfabeto
Name[ja]=アルファベット
Name[kk]=Әліппе
Name[km]=អក្ខរក្រម
Name[ko]=알파벳
Name[lt]=Abėcėlė
Name[lv]=Alfabēts
Name[mai]=वर्णमाला
Name[mr]=वर्णमाला
Name[nb]=Alfabet
Name[nds]=Alfabeet
Name[nl]=Alfabet
Name[nn]=Alfabetet
Name[oc]=Alfabet
Name[pl]=Alfabet
Name[pt]=Alfabeto
Name[pt_BR]=Alfabeto
Name[ro]=Alfabet
Name[ru]=Алфавит
Name[sk]=Abeceda
Name[sl]=Abeceda
Name[sr]=Азбука
Name[sr@ijekavian]=Азбука
Name[sr@ijekavianlatin]=Azbuka
Name[sr@latin]=Azbuka
Name[sv]=Alfabet
Name[tr]=Alfabe
Name[ug]=ئېلىپبە جەدۋىلى
Name[uk]=Абетка
Name[wa]=Alfabet
Name[x-test]=xxAlphabetxx
Name[zh_CN]=字母表
Name[zh_TW]=字母
Description=A colorful tileset designed for kids of all ages.
Description[bs]=Šarene pločice dizajnirane za djecu svih uzrasta.
Description[ca]=Un conjunt de fitxers a tot color dissenyat per a infants de totes les edats.
Description[ca@valencia]=Un conjunt de fitxers a tot color dissenyat per a infants de totes les edats.
Description[da]=Et farvrigt sæt brikker designet til børn i alle aldre.
Description[de]=Ein farbenfroher Spielsteinsatz für Kinder in allen Altersstufen.
Description[el]=Ένα πολύχρωμο σύνολο σχεδιασμένο για παιδιά όλων των ηλικιών.
Description[en_GB]=A colourful tileset designed for kids of all ages.
Description[es]=Fichas llenas de color diseñadas para niños de todas las edades.
Description[et]=Värvilised klotsid igast vanusest lastele.
Description[eu]=Lauza multzo koloretsua adin guztietako umeentzako.
Description[fa]=یک مجموعه کاشی رنگی طراحی شده برای کودکان در همه سنین
Description[fi]=Värikäs tiilisetti, joka on suunniteltu kaikenikäisille lapsille
Description[fr]=Un jeu de tuiles colorées conçues pour les enfants de tout age.
Description[ga]=Tacar tíleanna ildathacha ar son páistí de gach aois.
Description[gl]=Un conxunto colorido de pezas deseñado para nenos de todas as idades.
Description[hne]=सब्बो उमर के लइका बर डिजाइन करे गे रंगीन टाइलसेट.
Description[hu]=Gyermekeknek szánt színes elemkészlet.
Description[id]=Sebuah tileset berwarna-warni yang dirancang untuk anak-anak dari segala umur.
Description[it]=Una raccolta di tessere disegnate per i bimbi di tutte le età.
Description[ja]=子供のためにデザインされたカラフルなマージャン牌
Description[kk]=Барлық балаларға арналған түрлі-түсті жиынтық.
Description[km]=បណ្ដុំ​ក្រឡា​ក្បឿង​​មាន​ពណ៌​ដែល​បាន​រចនា​ឡើង​សម្រាប់​ក្មេងៗ​គ្រប់​វ័យ​ ។
Description[ko]=모든 나이대 어린이용 타일 셋입니다.
Description[lv]=Krāsaina kauliņu kopa visu vecumu bērniem.
Description[nb]=Fargerikt brikkesett for barn i alle aldre.
Description[nds]=En Steensett för Kinners vun elk Öller mit vele Klören
Description[nl]=Een kleurrijke stenenset ontworpen voor kinderen van alle leeftijden.
Description[nn]=Fargerikt brikkesett for barn i alle aldrar.
Description[pl]=Kolorowy zestaw kamieni dla dzieci w każdym wieku.
Description[pt]=Um conjunto de peças colorido desenhado para crianças de todas as idades.
Description[pt_BR]=Um conjunto de peças colorido criado para crianças de todas as idades.
Description[ru]=Цветной набор плиток для детей всех возрастов
Description[sk]=Farebná sada kameňov pre deti každého veku.
Description[sl]=Pisan nabor ploščic narejen za otroke vseh starosti.
Description[sr]=Шарене плочице за децу свих узраста.
Description[sr@ijekavian]=Шарене плочице за дјецу свих узраста.
Description[sr@ijekavianlatin]=Šarene pločice za djecu svih uzrasta.
Description[sr@latin]=Šarene pločice za decu svih uzrasta.
Description[sv]=Färgrika brickor skapad för barn i alla åldrar.
Description[tr]=Her yaştan çocuklar için tasarlanmış renkli bir döşeme seti
Description[uk]=Кольоровий набір призначений для дітей будь-якого віку.
Description[wa]=On djeu d' pîces di totes coleurs fwait po ls efants d' totes les ådjes.
Description[x-test]=xxA colorful tileset designed for kids of all ages.xx
Description[zh_CN]=为各年龄段孩童设计的彩色字母表。
Description[zh_TW]=彩色的外觀，為各年齡層的小朋友設計的。
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=alphabet.svg
LevelOffsetX=28
LevelOffsetY=32
TileFaceWidth=173
TileFaceHeight=211
TileWidth=231
TileHeight=283
